History.Push(): Request to retain query component “?” even when the query parameter is null/empty

http://server/?#fragment seems like a valid syntax (RFC 2234, [section 3.6](https://tools.ietf.org/html/rfc2234#section-3.6)). 
However, the **createPath** module (of History package) removes the query component (?) if the query parameter is null/empty resulting in http://server/#fragment

Following is the code snippet for your reference (This code resides in [PathUtils.js](https://github.com/ReactTraining/history/blob/master/modules/PathUtils.js)) :

```
var createPath = function createPath(location) {
  var pathname = location.pathname,
      search = location.search,
      hash = location.hash;

  var path = pathname || '/';
  if (search && search !== '?') path += search.charAt(0) === '?' ? search : '?' + search;
  if (hash && hash !== '#') path += hash.charAt(0) === '#' ? hash : '#' + hash;
  return path;
};
```


Is there a way we can modify/override this behavior to retain the query component (?)


What is the use case where you would want an empty query component?

We have encountered 3rd party solutions that leverages specific route patterns (for instances abc.com?#foo) in their angular router implementation.
Also, as per RFC 2234, [section 3.6](https://tools.ietf.org/html/rfc2234#section-3.6), it seems to be a valid syntax.

However, because of this issue, the downstream solutions break.